
/*===============================
            Header
================================*/
.navbar-header {
     position: relative;
 }

 #mobile-nav-open-btn {
     visibility: visible;
     font-size: 30px;
     color: #6255a5;
     cursor: pointer;
     z-index: 2;
     position: absolute;
     display: none;
     right: 0%;
 }

 .navbar-movable #mobile-nav-open-btn {
     right: 6%;
 }

 #mobile-nav {
     /* by defalut,  mobile nav will be hidden with height 0% */
     width: 100%;
     height: 0%;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 3;
     background-color: rgba(255, 255, 255, 0.9);
     -webkit-transition: all 300ms linear;
     transition: all 300ms linear;
     overflow-y: hidden;
 }

 #mobile-nav img {
     width: 35px;
     height: 35px;
 }

 #mobile-nav-close-btn {
     font-family: "Open Sans", sans-serif;
     font-size: 70px;
     color: #212226;
     font-weight: 400;
     cursor: pointer;
     position: absolute;
     top: -9px;
     right: 13px;
     -webkit-transition: .3s;
     transition: .3s;
 }

 #mobile-nav-content {
     text-align: center;
     width: 100%;
     margin-top: 30px;
     position: relative;
     top: 10%;
 }

 #mobile-nav ul li {
     margin-bottom: 20px;
 }

 #mobile-nav ul li a:hover,
 #mobile-nav ul li a:focus {
     color: #6255a5;
     border: none !important;
     border-bottom: 3px solid #6255a5;
 }

 #mobile-nav ul li #idbtn {
     margin-bottom: 20px;
     background-color: #6255a5;
     color: #fff;
 }

 #mobile-nav a {
     font-family: "Open Sans", sans-serif;
     font-size: 20px;
     color: #212226;
     font-weight: 400;
     display: inline;
     -webkit-transition: .3s;
     transition: .3s;
 }

/*===============================
           1200 and up
================================*/
@media (min-width: 1200px){ 
    .extra-margin {
        position: relative;
        transform: translateX(50px);
    }
    
}
/*===============================
            991 To 1200
================================*/
@media (min-width: 991px) and (max-width: 1200px) {

     .note-info p {
         margin-bottom: 0;
         min-height: 80px;
     }

     
     ul.navbar-nav > li > a {
         font-size: 14px !important;
     }

     #homepage-customer-section .sub-deatials {
         min-height: 70px !important;
     }

     .userprofile-user-icon {

         margin: 0 10px;
     }

     #searchpage-notes .review-text {
         -webkit-transform: translate(-50%, 90%);
         transform: translate(-50%, 90%);

     }
     .responsive-wrapper-padding-bottom-90pct {
         padding-bottom: 135%;
     }


     #searchpage-notes .review-text p {
         font-size: 11px;
     }

     #searchpage-notes .book-title {
         min-height: 90px;
     }
    .pagination {
        margin-top: 30px;
    }
 }
 /*===============================
            Upto 991
================================*/
@media (max-width: 991px) {
     .top-table {
         text-align: center;
     }

     .top-table .justify-content-end {
         -webkit-box-pack: center !important;
         -ms-flex-pack: center !important;
         justify-content: center !important;
     }
     #dashboard-upper .left-earning {
        margin-bottom: 30px;
     }
     .row.earning {
         margin-bottom: 30px;
     }

     .upload-profile-pic .uploadmypic h6 {
         font-size: 15px;
     }

     #searchpage-notes .book-title {
         min-height: 100px;
     }

     .review-text {
         text-align: center;
     }

     .rate {
        position: absolute;
         float: left;
        
        top: -10px;
     }
    .review-text {
        margin-top: 0px;
        float: right;

        margin-right: 15px;
        margin-top: 7px
    }

     #homepage-about-section h2,
     #homepage-work-section h2 {
         font-size: 25px;
         line-height: 28px;
     }
    

     

     
     #homepage-work-section p,
     #homepage-customer-section .feedback-division p{
         font-size: 15px;
         line-height: 18px;
     }
     
     #homepage-customer-section .feedback-text p {
        font-size: 22px;
     }
     #homepage-about-section p {
        font-size: 15px;
         line-height: 18pz;;
     }

     #mobile-nav-open-btn {
         display: block;
     }

     .navbar-header {
         width: 100%;
     }

     #homepage-customer-section .head-details h3 {
         font-size: 25px;
     }
     

     #homepage-customer-section .sub-deatials {
         min-height: 40px !important;
         margin-bottom: 0 !important;
     }

     #homepage-about-section .r p {
         margin-bottom: 30px !important;
     }

     #homepage-customer-section img {
         margin-top: 20%;
     }

     .margin-top {
         margin-top: 20px;
     }
     
    
 }
 /*===============================
            Upto 767
================================*/
 @media (max-width: 767px) {
    
     /*Dahboard*/
     .dashboard-upper-title h2 {
         text-align: center;
         margin-bottom: 20px;
     }

     .note-info .right-dash {
         min-height: 170px;
     }

     #dashboard-upper button#idbtn {
         width: 100%;
     }

     #dashboard-progress h3,
     #table-details-section h3 {
         text-align: center;
     }

     
     #dashboard-progress #idbtn,
     #table-details-section #idbtn {
         margin-right: 0;
     }

     #exampleModal .model-data p {
         font-size: 14px;
         margin-bottom: 10px;
     }
     #dashboard-progress .justify-content-end,
     #table-details-section .justify-content-end {
         -webkit-box-pack: center !important;
         -ms-flex-pack: center !important;
         justify-content: center !important;
     }


     #exampleModal .model-data h2 {
         font-size: 18px;
         margin-top: 5px;
         margin-bottom: 5px;
     }

     #exampleModal .model-data h3 {
         font-size: 16px;
         text-align: left
     }

     #exampleModal .model-data img {
         height: 30px;
         width: 30px;
     }

     #exampleModal {
         margin-top: 100px;
     }

     #search-filter-section h3,
     #searchpage-notes h3 {
         text-align: center;
     }
     .book-box .review-text p{
         font-size: 15px;
         
     }
     #search-filter-section .div-filter .inputselect {
         margin: 5px 0;
     }

     #emailverification-page .verify-content #idbtn {
         width: 450px;
     }
    
     .classlable,
     .classinput:focus,
     .InputPassword1:focus {
         font-size: 12px;
         line-height: 15px;
     }

     #homepage-customer-section .feedback-division {

         text-align: center;
     }

     .wrapper img {
         top: 30%;
         right: 3%;
         height: 12px;
     }

     #homepage-background-img-text .home-head-content .bold-text h1 {
         font-size: 27px;
         line-height: 30px;
     }

     h2 {
         font-size: 25px;
         line-height: 28px;
     }

     h3 {
         font-size: 22px;
         line-height: 25px;
     }

     p {
         font-size: 11px;
         line-height: 15px;

     }
     #main-container button,
     #signup-page button,
     #changepass-page button,
     #forgotpass-page button,
     #emailverification-page,
     #notesdetail-detail button{
         height: 40px;
         font-size: 15px;
     }
     #changepass-page Input::placeholder,
     #forgetpasspass-page Input::placeholder,
     #signup-page Input::placeholder,
     #main-container Input::placeholder{
        font-size: 13px;
     }
     #main-container .check1 Input{
        width: 20px;
     }
     #main-container .check1 label{
        margin-left: 10px;
         font-size: 13px;
         margin-top: 10px;
     }

     #main-container #login-head p {
         margin-bottom: 15px;
     }

     #forgotpass-page #forgotpass-head p {
         margin-bottom: 15px;
     }

     /* Login Form */
     #white-background-form {
         padding: 20px;
         margin-top: 15px;
     }

     #white-background-form Input[type=email] {
         margin-bottom: 15px;
     }

     #white-background-form .mycheckbox {
         font-size: 12px;
         line-height: 16px;
         margin-left: 20px;
     }

     #white-background-form .mytext {
         font-size: 12px;
         line-height: 16px;
         margin-top: 10px;
     }

     #white-background-form .myforgotlabel {
         font-size: 12px;
         line-height: 14px;
     }

     .errormsg p {
         font-size: 10px;
         line-height: 15px;
     }

     .check1 {
         margin-bottom: 15px;
     }

     /* Forgot Password Form */
     #forgotpass-form {
         padding: 20px;
         margin-top: 15px;
     }

     #forgotpass-form #idbtn {
         margin-top: 5px;
     }

     /* Change Password Form */
     #changepass-form {
         padding: 20px;
         margin-top: 15px;
     }

     #changepass-form h2 {
         margin-bottom: 5px;
     }

     #changepass-form p {
         margin-bottom: 20px;
     }

     #changepass-form Input[type=password] {
         margin-bottom: 15px;
     }

     /* Sign Up Form */
     #signup-form .mytext {
         font-size: 12px;
         line-height: 16px;
         margin-top: 10px;
     }

     #signup-form {
         padding: 20px;
         margin-top: 15px;
     }

     #signup-form #idbtn {
         margin-top: 0;
     }

     #signup-form h2 {
         margin-bottom: 5px;
     }

     #signup-form p {
         margin-bottom: 15px
     }

     #signup-form .text2 p {
         margin-bottom: 0;
     }

     /* User Profile */
     #background-img-text h2 {
         font-size: 25px;
         line-height: 28px;
     }

     .user-details-form .heading h3 {
         font-size: 20px;
         line-height: 23px;
     }
     .user-details-form Input::placeholder,
     .user-details-form select,{
         font-size: 13px;
     }

     /* Footer */

     footer .footer-content {
         margin-top: 41px;
     }

     ul.social-list li {
         display: inline-block;
         padding: 0;
     }

     footer p {
         margin: 0;
     }

     ul.social-list li a {
         border: none;
         text-align: center;
         width: 35px;
         height: 35px;
         background-color: #6255a5;
         display: inline-block;
         line-height: 35px;
         color: #fff;
         -webkit-transform: translateY(-26px);
         transform: translateY(-26px);
         border-radius: 50%;
     }

     #homepage-customer-section .feedback-division img {
         margin-top: 20px;
         margin-bottom: 20px;
     }


     #homepage-customer-section .feedbacks .first-r-f {
         margin-bottom: 0;
     }

     .domargin {
         margin-bottom: 20px;
     }

     .rate {
        position: absolute;
        float: center;
        transform: translateX(20%);
        top: -10px;
     }
    .review-text {
        
        float: center;
        margin-right: 30%;
        margin-top: 40px;
    }
     
     #dashboard-upper .dashboard-content left-earning {
         
     }
     .add-notes-form Input::placeholder,
     .add-notes-form TextArea::placeholder,
     .add-notes-form select{
         font-size: 13px;
     }
     
 }
/*===============================
            Upto 577
================================*/
@media (max-width: 577px) {
     #searchpage-notes .book-title {
         min-height: 0;
     }

     .rate {
         -webkit-transform: translateX(50%) !important;
         transform: translateX(50%) !important;
     }

     .docenter {
         text-align: center;
     }

     #notesdetails-detail h3,
     #notes-details-preview h3 {
         text-align: center;
     }
    #dashboard-upper .left-earning {
        margin-bottom: 0px;
     }
     .myearning {
         text-align: center
     }

     .mynote-info {
         -webkit-box-pack: center !important;
         -ms-flex-pack: center !important;
         justify-content: center !important;
     }

     .mynote-info .dash-right {
         margin-bottom: 20px;
         min-height: 50px;
         margin-left: 10px;
         margin-right: 10px;
     }

     .row.earning {
         padding: 0 20px;
     }
     #email-verification .verification-content #idbtn {
         width: 350px !important;
     }

     #exampleModal .model-data {
         padding-bottom: 10px;
         padding-left: 10px;
         padding-right: 10px;
     }
    
    .review-text {
        margin-top: 0px;
        float: right;

        margin-right: 20px;
        margin-top: 10px
    }
    .rate {
         -webkit-transform: translateX(0%) !important;
         transform: translateX(0%) !important;
        float: left;
        position: absolute;
        top: -10px;
     }
    

 }
/*===============================
            Upto 450
================================*/
 @media (max-width: 450px) {
     

     #notesdetail-detail .left-side-note h5 {
         font-size: 16px;

     }
        
     #dashboard-progress Input[type=email],
     #table-details-section Input[type=email] {
         width: 100%;
     }
     
     #notesdetails-detail .right-side-note h5,
     .numofreview {
         font-size: 16px !important;
     }
     #emailverification-page #idbtn {
         width: 300px !important;
     }

 }
/*===============================
            Upto 410
================================*/
 @media (max-width: 410px) {

     
     #emailverification-page #idbtn {
         width: 250px !important;
     }

     ul.social-list li a {
         width: 30px;
         height: 30px;
         padding-bottom: 30px;
     }

     ul.social-list li {
         padding-top: 5px;

     }
     
     #forgotpass-form,
     #changepass-form h2 {

         font-size: 18px;
     }


     #dashboard-upper #idbtn {
         width: 130px;
         margin: 0;
     }

 }
 
/*===============================
            Upto 391
================================*/
 @media (max-width: 391px) {
     #notesdetail-detail .left-side-note h5 {
         font-size: 14px !important;

     }

     #notesdetail-detail .right-side-note h5,
     .numofreview {
         font-size: 14px !important;
     }

     #notesdetail-preview .rate-fa i {
         font-size: 13px;
     }

     #dashboard-progress #idbtn,
     #table-details-section #idbtn {
         width: 90%;
     }
 }

 @media (max-width: 359px) {
     #white-background-form .myforgotlabel {
         font-size: 10px;
         line-height: 12px;
     }

     ul.social-list li a {
         width: 25px;
         height: 25px;
     }


 }
@media (max-width: 310px) {
    .rate {
        position: absolute;
        float: center;
        transform: translateX(20%);
        top: -10px;
     }
    .review-text {
        
        float: left;
        margin-left: 10px;
        margin-top: 40px;
    }
}
@media (min-width: 767px) and (min-height: 1035px) {
    
    .footer-at-end {
        position: absolute;
        bottom: 0;
    }
}

 

 

