@model NotesMarketplace.Users

<!DOCTYPE html>
<html>

<head>

    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1">

    <!-- Title -->
    <title>Email Verification</title>


    <!-- Open Sans Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- Page Icon -->
    <link rel="Icon" href="img/favicon/favicon.ico">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/Front/css/bootstrap/bootstrap.min.css">

    <!-- Custome CSS -->
    <link rel="stylesheet" href="~/Content/Front/css/style.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/Front/css/responsive.css">

</head>

<body>

    <!-- Email Verification page -->
    <section id="emailverification-page">


        <div class="container email-container">

            <div class="row ">
                <div class="whitebg">
                    <div class="col-md-12 col-sm-10 col-12 col-lg-12 col-xl-12">
                        <img class="img-fluid" src="~/Img/Front/pre-login/Capture.png">
                        <div class="verify-content">
                            <div class="email-content">
                                <h2>Email Verification</h2>
                                <h4>Dear @ViewBag.name,</h4>
                                <p>Thanks for Signing Up!</p>
                                <h1>Simply click below for email verify.</h1>
                            </div>
                            <!-- Verify Email button -->
                            <!--<button type="submit" class="btn text-center" id="idbtn"><b>VERIFY EMAIL ADDRESS</b></button> -->
                            <button onclick="location.href='@Url.Action("Verify","SignUp",new { code = Model.SecretCode.ToString() })'" type="submit" class="btn text-center" id="idbtn"><b>VERIFY EMAIL ADDRESS</b></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Email Varification page End -->
    <!-- JQuery -->
    <script src="~/Script/Front/jquery.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Script/Front/bootstrap/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Script/Front/script.js"></script>
</body>
</html>
