@model NotesMarketplace.Models.ForgotPassword

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1">

    <!-- Title -->
    <title>Forgot Password</title>

    <!-- Icon -->
    <link rel="shortcut icon" href="images/favicon/favicon.ico">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/Front/css/bootstrap/bootstrap.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/Front/css/font-awesome/css/font-awesome.min.css">

    <!-- Custome CSS -->
    <link rel="stylesheet" href="~/Content/Front/css/style.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/Front/css/responsive.css">

    <style>
        .form-error {
            color: red;
        }
    </style>

</head>

<body>

    <!-- Forgot Password Page -->
    <section id="background-image">
        <div id="forgotpass-page" class="container">

            <!-- Logo -->
            <div class="row justify-content-center">
                <div id="forgotpasswordlogo" class="text-cente">
                    <img src="~/Img/Front/pre-login/top-logo.png" class="img-fluid" alt="Loin">
                </div>
            </div>

            <div class="row justify-content-center">

                <div class="col-xl-8 col-12 col-md-12 col-sm-11 col-lg-9 ">
                    <div id="forgotpass-form">

                        <!-- Heading -->
                        <div id="forgotpass-head" class="text-center">
                            <h2>Forgot Password?</h2>
                            <p>Enter your email address to reset your password</p>
                        </div>

                        <!-- Form -->
                        <!-- <form> -->
                        @using (Html.BeginForm("ForgotPassword", "SignUp", FormMethod.Post))
                        {

                            @Html.AntiForgeryToken()

                            <!-- Email -->
                            <div class="form-group">
                                <label class="classlable" for="classinput">Email</label>
                                <!-- <input type="email" class="form-control" id="classinput" aria-describedby="emailHelp" placeholder="Enter your Email Address"> -->
                                
                                @Html.TextBoxFor(x => x.EmailID, new { @class = "form-control", @id = "classinput", @placeholder = "Enter your Email Address" })
                                @Html.ValidationMessageFor(x => x.EmailID, "", new { @class = "form-error" })
                            </div>

                            <div class="text-center text2">
                                @if(TempData["Success"] != null)
                                {
                                    <p><span><i class="fa fa-check-circle"></i> @TempData["Success"]</span></p>
                                }
                            </div>

                            <!-- LOGIN Button -->
                            <button type="submit" class="btn text-center" id="idbtn"><b>SUBMIT</b></button>
                            <!-- </form> -->
                        }

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Forgot Password Page -->
    <!-- JQuery -->
    <script src="~/Script/Front/jquery.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Script/Front/bootstrap/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Script/Front/script.js"></script>
    <script src="~/Script/jquery.validate.min.js"></script>
    <script src="~/Script/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>
