
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/NavbarBefore.cshtml";
}

<!-- Heading -->
<section>
    <div id="background-img-text">
        <div class="centerh2">

            <h2>Frequently Asked Questions</h2>

        </div>
    </div>
</section>
<!-- Heading Ends-->
<!-- FAQ -->
<!-- Second Section -->
<section class="content-box-md FAQ">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="head">
                    <h3>General Questions</h3>
                </div>

                <!-- First -->
                <div class="card-header myhead1">
                    <div class="row">
                        <div class="col-md-6 col-10">
                            <h4>What is Marketplace-Notes?</h4>
                        </div>
                        <div class="col-md-6 col-2 text-right">
                            <a class="showdata1" type="button" href="#">
                                <img src="~/Img/Front/FAQ/add.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body mybody1">
                    <div class="row">
                        <div class="col-md-6 col-10">
                            <h4>What is Marketplace-Notes?</h4>
                        </div>
                        <div class="col-md-6 col-2 text-right">
                            <a class="hidedata1" type="button" href="#">
                                <img src="~/Img/Front/FAQ/minus.png">
                            </a>
                        </div>
                    </div>
                    <p>Notes Marketplace is an online marketplace for university students to buy and sell their course notes.</p>
                </div>
                <!-- Second -->
                <div class="card-header myhead2">
                    <div class="row">
                        <div class="col-md-6 col-10">
                            <h4>What do the Unvidersity say?</h4>
                        </div>
                        <div class="col-md-6 col-2 text-right">
                            <a class="showdata2" type="button" href="#">
                                <img src="~/Img/Front/FAQ/add.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body mybody2">
                    <div class="row">
                        <div class="col-md-6 col-10">
                            <h4>What do the Unvidersity say?</h4>
                        </div>
                        <div class="col-md-6 col-2 text-right">
                            <a class="hidedata2" type="button" href="#">
                                <img src="~/Img/Front/FAQ/minus.png">
                            </a>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis dignissimos voluptates nesciunt quia nobis commodi placeat esse adipisci minima tempora quidem consectetur fugiat dolorum, amet odio quasi mollitia. Fugit, quidem..</p>
                </div>
                <!-- Third -->
                <div class="card-header myhead3">
                    <div class="row">
                        <div class="col-md-6 col-10">
                            <h4>Is this legal?</h4>
                        </div>
                        <div class="col-md-6 col-2 text-right">
                            <a class="showdata3" type="button" href="#">
                                <img src="~/Img/Front/FAQ/add.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body mybody3">
                    <div class="row">
                        <div class="col-md-6 col-10">
                            <h4>Is this legal?</h4>
                        </div>
                        <div class="col-md-6 col-2 text-right">
                            <a class="hidedata3" type="button" href="#">
                                <img src="~/Img/Front/FAQ/minus.png">
                            </a>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt commodi facere laboriosam debitis molestiae mollitia sint assumenda dicta, perferendis ipsam suscipit quibusdam optio dolores voluptatem iusto, error laudantium ullam rerum.</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Second Section Ends-->
<!-- Third Section -->
<section class="content-box-md FAQ">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="head">
                    <h3>Uploaders</h3>
                </div>

                <!-- First -->
                <div class="card-header myhead4">
                    <div class="row">
                        <div class="col-md-6 col-10">
                            <h4>What can't i sell?</h4>
                        </div>
                        <div class="col-md-6 col-2 text-right">
                            <a class="showdata4" type="button" href="#">
                                <img src="~/Img/Front/FAQ/add.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body mybody4">
                    <div class="row">
                        <div class="col-md-6 col-10">
                            <h4>What can't i sell?</h4>
                        </div>
                        <div class="col-md-6 col-2 text-right">
                            <a class="hidedata4" type="button" href="#">
                                <img src="~/Img/Front/FAQ/minus.png">
                            </a>
                        </div>
                    </div>
                    <p>
                        We won't approve materials that have been created by your university or another third party. We also
                        do not accept assignments, essays, practical’s or take-home exams. We love notes though.
                    </p>
                </div>
                <!-- Second -->
                <div class="card-header myhead5">
                    <div class="row">
                        <div class="col-md-6 col-10">
                            <h4>What notes can i sell?</h4>
                        </div>
                        <div class="col-md-6 col-2 text-right">
                            <a class="showdata5" type="button" href="#">
                                <img src="~/Img/Front/FAQ/add.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body mybody5">
                    <div class="row">
                        <div class="col-md-6 col-10">
                            <h4>What notes can i sell?</h4>
                        </div>
                        <div class="col-md-6 col-2 text-right">
                            <a class="hidedata5" type="button" href="#">
                                <img src="~/Img/Front/FAQ/minus.png">
                            </a>
                        </div>
                    </div>
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- Third Section Ends-->
<!-- Fourth Section -->
<section class="content-box-md FAQ">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="head">
                    <h3>Downloaders</h3>
                </div>

                <!-- First -->
                <div class="card-header myhead6">
                    <div class="row">
                        <div class="col-md-6 col-10 ">
                            <h4>How do i buy Notes?</h4>
                        </div>
                        <div class="col-md-6 col-2 text-right">
                            <a class="showdata6" type="button" href="#">
                                <img src="~/Img/Front/FAQ/add.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body mybody6">
                    <div class="row">
                        <div class="col-md-6 col-10 ">
                            <h4>How do i buy Notes?</h4>
                        </div>
                        <div class="col-md-6 col-2 text-right">
                            <a class="hidedata6" type="button" href="#">
                                <img src="~/Img/Front/FAQ/minus.png">
                            </a>
                        </div>
                    </div>
                    <p>
                        Search for the notes you are after using the 'SEARCH NOTES' tab at the at the top right of every page.
                        You can then filter results by university, category, course information etc. To purchase, go to detail page
                        of note and click on download button. If notes are free to download – it will download over the browser
                        and if notes are paid, Once Seller will allow download you can have notes at my downloads grid for
                        actual download.
                    </p>
                </div>
                <!-- Second -->
                <div class="card-header myhead7">
                    <div class="row">
                        <div class="col-md-6 col-10 ">
                            <h4>Can i edit the notes i purchased?</h4>
                        </div>
                        <div class="col-md-6 col-2 text-right">
                            <a class="showdata7" type="button" href="#">
                                <img src="~/Img/Front/FAQ/add.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body mybody7">
                    <div class="row">
                        <div class="col-md-6 col-10 ">
                            <h4>Can i edit the notes i purchased?</h4>
                        </div>
                        <div class="col-md-6 col-2 text-right">
                            <a class="hidedata7" type="button" href="#">
                                <img src="~/Img/Front/FAQ/minus.png">
                            </a>
                        </div>
                    </div>
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- fourth Section Ends-->
<!-- FAQ Ends-->
